@model Sistema_Venda_SI.Model.Models.Produto

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Cadastro de Produtos</h4>

<div>
    <form asp-action="Create">
        <div class="form-group">
            <label class="form-label" asp-for="ProDescricao"></label>
            <input asp-for="ProDescricao" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="ProCodigoBarras"></label>
            <input asp-for="ProCodigoBarras" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="ProDataCadastro"></label>
            <input type="date" asp-for="ProDataCadastro" class="form-control" />
        </div>
        <div class="form-group">
            <select class="form-select" asp-for="ProCodigoTipoProduto" asp-items="@ViewBag.ProCodigoTipoProduto">
                <option selected value="">Selecione um Tipo de Produto</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-select" asp-for="ProCodigoUnidade" asp-items="@ViewBag.ProCodigoUnidade">
                <option selected value="">Selecione uma Unidade</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
